@page "/"

@inject LoginService LoginService
@inject LoadingService LoadingService

<h1>Hello, Blazor <span class="oi oi-home"></span></h1>

@if(user != null){
    <p>@user.Name</p>
    <p>@user.Email</p>
}

<button class="btn info" @onclick="HandleLogout">Logout</button>

@code {
    private User user;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            LoadingService.StartLoading();
            user = await LoginService.GetUserInfo();
            LoadingService.StopLoading();
            StateHasChanged();
        }
    }

    private async Task HandleLogout()
    {
        await LoginService.Logout();
    }
}