* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    color: #000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.splash {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

    .splash > img {
        margin-bottom: 20px;
    }

    .splash > h2 {
        margin-bottom: 50px;
    }

.login {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 450px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

    .card-login > form {
        display: flex;
        flex-direction: column;
    }

        .card-login > form > label {
            margin-left: 5px;
            margin-top: 20px;
            margin-bottom: 5px;
            font-size: 1.1rem;
        }

        .card-login > form > input {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
        }

        .card-login > form > button {
            margin-top: 30px;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
        }

header {
    display: flex;
    height: 64px;
    align-items: center;
    background-color: indigo;
    color: white;
}

header > span {
    align-self: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media (min-width: 1024px) {
    main {
        width: 1024px;
        margin: 0 auto;
        padding: 16px;
    }
}

.validation-message {
    color: #dc3545;
    font-size: 0.9rem;
    padding-left: 5px;
    padding-top: 5px;
}

/* Buttons */
.btn {
    margin-top: 30px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

/* Colors */

.info {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Snackbar */

.snackbar {
    position: absolute;
    min-width: 400px;
    min-height: 50px;
    bottom: 5%;
    left: calc(50% - 200px);
    border: 1px solid transparent;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

.snackbar-text {
    padding-left: 15px;
}

.snackbar-action {
    font-weight: bold;
    padding-right: 15px;
    cursor: pointer;
}

/* Animações */

.fade-in {
    opacity: 1;
    animation: fadeIn 1s;
}

.fade-out {
    opacity: 0;
    animation: fadeOut 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        bottom: 0%;
    }

    to {
        opacity: 1;
        bottom: 5%;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        bottom: 5%;
    }

    to {
        opacity: 0;
        bottom: 0%;
    }
}
