/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #fafafa; }
.msg-success{background-color: #28a745;color: #fff;}
.msg-error{background-color: #e35e6b;color: #fff;}
.content {
    display: flex;
    flex-direction: column;
}
.container {
    width: calc(100% - 32px);
    margin: 0 auto;
}

@media(min-width: 1000px) {
    .container {
        width: 800px;
    }
}