<div class="container-login">
    <div class="card-login mat-elevation-z4">
        <h2>Lista Compras - Login</h2>
        <form>
            <mat-form-field>
                <input matInput [(ngModel)]="user.email" placeholder="Usuário" name="user" type="text"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="user.password" placeholder="Senha" name="password" type="password"/>
            </mat-form-field>
        </form>
        <button mat-raised-button (click)="login()" color="primary" [disabled]="loading">
            <span *ngIf="!loading; else loadingSpinner">Login</span>
            <ng-template #loadingSpinner>
                <span> Aguarde... </span>
            </ng-template>
        </button>
    </div>
</div>